body{
    background-color: rgb(255, 183, 157);
}

h1{
    
    background-color: rgb(255, 180, 153);
}

h2{
    color: rgb(38, 116, 38);
}

.welcome{
    color: rgb(56, 15, 0);
}

a{
    color: rgb(100, 100, 199);
}

a:hover, a:active{
    color: rgb(209, 22, 22);
  }
  
  li a:hover, li a:active{
    background-color: rgb(255, 183, 157);
  }

.nav ul{
    background-color: rgb(255, 180, 153);
}

@keyframes move {
    0% {
        transform: translateX(-75%);
        background-color: #fa6e5f ;
    }
    40% {
        background-color: #f8877a;
    }
    70% {
        background-color: #b8d89d;
    }    
    100% {
        transform: translateX(1900%);
        background-color:  #8cad71;
    }
  }

