body{
    background-color: black;
    color: rgb(132, 137, 146);
    }
    
    h1{
    color: rgb(0, 174, 180);
    background-color: black;
    }
    
    h2{
    color: rgb(0, 174, 180);
    }
    
    a{
        color: rgb(60, 141, 168);
    }
    
     a:hover,  a:active{
    color: red;
    }

    #sign{
        color:rgb(0, 174, 180);
    }

    .menu:hover, .menu:active{
        color:rgb(141, 206, 228);
    }

    .menu{
        color:white;
    }

    @keyframes move {
        0% {
            transform: translateX(-75%);
            background-color:  #2af0dc;
        }
        25% {
            background-color: #affaf2;
        }
        50%{
            background-color: black;
        }
        75% { 
            background-color: #affaf2;;
        }    
            
        100% {
            transform: translateX(1900%);
            background-color:  #2af0dc;
        }
    }   