body{
   background: linear-gradient(to right, #40e0d0, #e6e6fa, #fa8072);
}

h1{
    background: linear-gradient(to right, #40e0d0, #e6e6fa, #fa8072);
}

h2{
    color: rgb(38, 116, 38);
}

.welcome{
    color: rgb(38, 116, 38);
} 

 a:hover, a:active{
    color: rgb(240, 31, 31);
}

@keyframes move {
    0% {
        transform: translateX(-75%);
        background-color: #fa6e5f ;
    }
    40% {
        background-color: #f8877a;
    }
    70% {
        background-color: #5fecde;
    }    
    100% {
        transform: translateX(1900%);
        background-color:  #3bf1df;
    }
  }
